<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwcwY7YTOoHR35H1mR_VUkp8l3uEu6mt4</string>
	<key>GCM_SENDER_ID</key>
	<string>301879890990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BMB.PageTurnerBooks</string>
	<key>PROJECT_ID</key>
	<string>pageturnerbooks-84d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>pageturnerbooks-84d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301879890990:ios:b3397e39784b763bcffbbf</string>
</dict>
</plist>